.container {
    padding: 90px 60px;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 31px;
    border-bottom: 1px solid #FFDB45;
    padding: 30px 20px;
}

.pdfNameContainer{
    display: flex;
    cursor: pointer;
}

.icon {
    width: 32px;
    height: 32px;
}

.chevron, .pause {
    width: 24px;
    height: 24px;
}

.iconName {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-self: center;
}

.pauseBtn {
    background-color: #67C972;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    gap: 8px
}

.pauseText { 
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.textContainer {
    width: 100%;
    min-height: 602px;
}

.imageTextCotainer {
    padding: 30px 20px;
}

.imageText {
    font-weight: 400;
    font-size: 24px;
    line-height: 84px;
}

.showControls {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



p {
    margin: 0;
}


