.container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 140px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 56px;
}   

.logo {
    height: 17px;
    width: 125px;
}

.icon{
    Width:32px;
    Height:32px;
}