body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

dl {
  margin: 0;
  padding: 0;
}

dt, dd {
  margin: 0;
  padding: 0;
}

@font-face {
 font-family: "GTwalsheimRegular";
 src: local("GTwalsheimRegular"),
  url("./assets/fonts/GTWalsheimPro/gt-walsheim-regular-web.ttf") format("truetype");
}

@font-face {
 font-family: "GTwalsheimMedium";
 src: local("GTwalsheimMedium"),
  url("./assets/fonts/GTWalsheimPro/gt-walsheim-medium-web.ttf") format("truetype");
}